* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  scroll-behavior: smooth;
}

html {
  margin: 0;
  width: 100%;
}

.card img {
  /* min-height: 200px; */
  height: 200px;
}

#if-class {
  margin-top: 90px;
}

#if-class > h2 {
  text-transform: uppercase;
}

#welcome-summer {
  margin-top: 100px;
}

#welcome-summer > h2 {
  text-transform: uppercase;
}

#border-last {
  margin-top: 100px;
}
